<!-- BEGIN right sidebar -->
<div id="rsidebar">

	<!-- begin search -->
	<div class="box">
		<form action="http://www.88web.org/">
			<input type="text" name="s" id="s" value="" />
			<button type="submit">Search</button>
		</form>
	</div>
	<!-- end search -->

	<!-- begin popular posts -->
	<div class="box">
		<div class="buffer">
			<h2>Popular Posts</h2>
			<ul>
				<li><a href="http://www.88web.org/" title="免费网站模板">Sed tempor, orci a suscipit dapibus, lacus justo</a></li>
				<li><a href="http://www.88web.org/" title="免费网站模板">Laoreet imperdiet Cras placerat suscipit purus</a></li>
				<li><a href="http://www.88web.org/" title="免费网站模板">Quisque iaculis gravida mauris Donec elit</a></li>
				<li><a href="http://www.88web.org/" title="免费网站模板">In vulputate sem quis metus Ut convallis</a></li>
				<li><a href="http://www.88web.org/" title="免费网站模板">Proin convallis turpis sed dui Sed at velit eu felis</a></li>
				<li><a href="http://www.88web.org/" title="免费网站模板">Luisque iaculis gravida mauris Donec elit ipsum</a></li>
			</ul>
		</div>
	</div>
	<!-- end popular posts -->

	<!-- begin flickr photos -->
	<div class="box">
		<div class="buffer" id='imgs'>
			<h2>Flickr Photos</h2>
			<p class="flickr">
				<a href="javascript:void(0)">
					<img src="{{ asset('bundles/acmemain/images/_flickr1.jpg') }}" alt="" />
				</a>
				<a href="javascript:void(0)">
					<img src="{{ asset('bundles/acmemain/images/_flickr2.jpg') }}" alt="" />
				</a>
				<a href="javascript:void(0)">
					<img src="{{ asset('bundles/acmemain/images/_flickr3.jpg') }}" alt="" />
				</a>
				<a href="javascript:void(0)">
					<img src="{{ asset('bundles/acmemain/images/_flickr4.jpg') }}" alt="" />
				</a>
				<a href="javascript:void(0)">
					<img src="{{ asset('bundles/acmemain/images/_flickr5.jpg') }}" alt="" />
				</a>
				<a href="javascript:void(0)">
					<img src="{{ asset('bundles/acmemain/images/_flickr6.jpg') }}" alt="" />
				</a>
			</p>
		</div>
	</div>
	<!-- end flickr photos -->

	<!-- begin featured video -->
	<div class="box">
		<div class="buffer">
			<h2>Featured Video</h2>
			<div class="video">
				<img src="{{ asset('bundles/acmemain/images/_youtube.jpg') }}" alt="" />
			</div>
		</div>
	</div>
	<!-- end featured video -->

	<!-- begin animated tag cloud -->
	<div class="box">
		<div class="buffer">
			<h2>Animated Tag Cloud</h2>
			<div class="tags"></div>
		</div>
	</div>
	<!-- end animated tag cloud -->

</div>
<!-- END right sidebar -->