{% extends '::main.html.twig' %}

{% block content %}

<!-- BEGIN content -->
<div id="content">

	<!-- begin featured content -->
	<div class="box">
		<div class="buffer">
			<h2>Featured Content</h2>
            <div id="slides">
                <img src="{{ asset('bundles/acmemain/images/featured.jpg') }}" alt="" />
                <img src="{{ asset('bundles/acmemain/images/featured.jpg') }}" alt="" />
                <img src="{{ asset('bundles/acmemain/images/featured.jpg') }}" alt="" />
                <img src="{{ asset('bundles/acmemain/images/featured.jpg') }}" alt="" />
                <img src="{{ asset('bundles/acmemain/images/featured.jpg') }}" alt="" />
            </div>
		</div>
	</div>
	<!-- end featured content -->

	<!-- begin latest posts -->
	<div class="box">
		<ul class="homelist">
			<li> 
				<a href="http://www.88web.org/" title="免费网站模板">
					<img src="{{ asset('bundles/acmemain/images/_thumb1.jpg') }}" alt="" />
				</a>
				<a class="title">Lorem Ipsum Dolor Sit Amet</a>
				<p>
					嗨! 欢迎使用巴巴唔模板网提供的网页模板,你可以免费将此模板应用与任何地方,个人网站或者商业应用,唯一需要做的就是在此页面保留
					<a title="免费网站模板" href="http://www.88web.org/">巴巴唔模板网</a>
					的相关链接. 如果你需要更多的精美
					<a title="免费网页模板" href="http://www.88web.org/css-templates.htm">网页模板</a>
					,请   随时访问我们的模板页面,我们每周都会发布新模板,敬请关注! 当然可以访问我们的新域名
					<a href="http://www.css3web.com">www.css3web.com</a>
				</p>
				<a class="more" href="http://www.88web.org/" title="免费网站模板">more</a> 
			</li>
			<li> 
				<a href="http://www.88web.org/" title="免费网站模板">
				<img src="{{ asset('bundles/acmemain/images/_thumb2.jpg') }}" alt="" /></a> 
				<a class="title">Lorem Ipsum Dolor Sit Amet</a>
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce dictum sagittis sapien. 
					<a href="http://www.88web.org/" title="免费网站模板">Aliquam erat volutpat</a>
					. Nulla facilisi. Ut purus neque, condimentum nec, auctor eget. Aliquam erat volutpat. Nulla facilisi. Ut purus neque, condimentum nec...
				</p>
				<a class="more" href="http://www.88web.org/" title="免费网站模板">more</a> </li>
			<li>
				<a href="http://www.88web.org/" title="免费网站模板">
				<img src="{{ asset('bundles/acmemain/images/_thumb3.jpg') }}" alt="" /></a>
				<a class="title">Lorem Ipsum Dolor Sit Amet</a>
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce dictum sagittis sapien. 
					<a href="http://www.88web.org/" title="免费网站模板">Aliquam erat volutpat</a>
					. Nulla facilisi. Ut purus neque, condimentum nec, auctor eget. Aliquam erat volutpat. Nulla facilisi. Ut purus neque, condimentum nec...
				</p>
				<a class="more" href="http://www.88web.org/" title="免费网站模板">more</a>
			</li>
			<li>
				<a href="http://www.88web.org/" title="免费网站模板">
					<img src="{{ asset('bundles/acmemain/images/_thumb4.jpg') }}" alt="" />
				</a> <a class="title">Lorem Ipsum Dolor Sit Amet</a>
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce dictum sagittis sapien. 
					<a href="http://www.88web.org/" title="免费网站模板">Aliquam erat volutpat</a>
					. Nulla facilisi. Ut purus neque, condimentum nec, auctor eget. Aliquam erat volutpat. Nulla facilisi. Ut purus neque, condimentum nec...
				</p>
				<a class="more" href="http://www.88web.org/" title="免费网站模板">more</a>
			</li>
		</ul>
	</div>
	<!-- end latest posts -->

</div>
<!-- END content -->

{% endblock %}


